@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-bg-img-1 {
    background-image: url('/custom/dimg2.jpg');
  }
  
  .bg-bg-img-2 {
    background-image: url('/custom/dimg3.jpg');
  }
  
  body::-webkit-scrollbar{
    display: none;
  }
  

  html {
    scroll-behavior: smooth;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  